<% title = "ﾄ斉ハg nh蘯ｭp" %>

<h2>沐 ﾄ斉ハg nh蘯ｭp</h2>

<form action="/auth/login" method="POST" class="form-auth">
  <label for="username">Tﾃｪn ﾄ惰ハg nh蘯ｭp:</label>
  <input type="text" id="username" name="username" required>

  <label for="password">M蘯ｭt kh蘯ｩu:</label>
  <input type="password" id="password" name="password" required>

  <button type="submit">ﾄ斉ハg nh蘯ｭp</button>
</form>

<p>Chﾆｰa cﾃｳ tﾃi kho蘯｣n? <a href="/auth/register">ﾄ斉ハg kﾃｽ</a></p>
