<% title = "ﾄ斉ハg kﾃｽ tﾃi kho蘯｣n" %>

<h2>沒 ﾄ斉ハg kﾃｽ tﾃi kho蘯｣n m盻嬖</h2>

<form action="/auth/register" method="POST" class="form-auth">
  <label for="username">Tﾃｪn ﾄ惰ハg nh蘯ｭp:</label>
  <input type="text" id="username" name="username" required>

  <label for="password">M蘯ｭt kh蘯ｩu:</label>
  <input type="password" id="password" name="password" required>

  <button type="submit">ﾄ斉ハg kﾃｽ</button>
</form>

<p>ﾄ静｣ cﾃｳ tﾃi kho蘯｣n? <a href="/auth/login">ﾄ斉ハg nh蘯ｭp</a></p>
