<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>๐ Website Quแบฃn Lรฝ Sแบฃn Phแบฉm</h1>
        <nav>
            <a href="/">Trang chแปง</a> |
            <a href="/admin/products/add">Thรชm sแบฃn phแบฉm</a>|
            <a href="/auth/logout">ฤฤng xuแบฅt</a>

        </nav>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <p>ยฉ 2025</p>
    </footer>
</body>
</html>
